<div class="header">
  <h3 class="text-muted">zHome</h3>
</div>

<div class="row panel">
  <div class="col-md-12">
    <form method="get" id="search" action="http://duckduckgo.com/">
             <input type="hidden" name="kn" value="1"/>
             <input type="hidden" name="ka" value="h"/>
             <input type="hidden" name="k7" value="#fafafa"/>
             <input type="hidden" name="kj" value="#3f3f3f"/>
             <input type="hidden" name="ky" value="#fafafa"/>
             <input type="hidden" name="kx" value="b"/>
             <input type="hidden" name="kt" value="Helvetica"/>
             <input type="text" id="qinput" name="q" maxlength="255" placeholder="Search" ng-model="searchinput"/>
             <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
 </form>
  </div>
</div>
<br />
<div class="row panel">
  <div class="col-md-12">
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=39.046596&lon=-77.179915&name=Potomac MD"> </iframe>
  </div>
</div>

<div class="row panel">
  <div class="col-md-3 app"><a href="http://www.gmail.com"><i class="fa fa-envelope center-block"></i></a></div>
  <div class="col-md-3 app"><a href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></div>
  <div class="col-md-3 app"><a href="http://hckrnews.com"><i class="fa fa-rss"></i></a></div>
  <div class="col-md-3 app"><a href="http://docs.google.com"><i class="fa fa-file"></i></a></div>
</div>

<div class="footer">
  <p>
    <span class="glyphicon glyphicon-heart"></span> 2014 Marcus Orochena</p>
</div>
